[submodule "ruthearle.github.io"]
	path = ruthearle.github.io
	url = git@github.com:ruthearle/ruthearle.github.io.git
[submodule "themes/hugo-future-imperfect"]
	path = themes/hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/hugo-multi-bootswatch"]
	path = themes/hugo-multi-bootswatch
	url = https://github.com/mpas/hugo-multi-bootswatch.git
